.pattern { cursor: pointer; font-weight: bold; padding: 5px; border: 1px solid #ddd; width: 138px; text-align: center; float: left; margin: 0px 20px 20px 0px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

a { color: #000; }
a:visited { color: #666; }

#header h1 { font-size: 48px; }
#header h1 a { text-decoration: none; color: #333!important; }
#header h1 a:hover { border-bottom: 3px solid #3399FF; }
a.feed:hover { border-bottom: none!important; }

#menu { color: #333; font-weight: bold; font-size: 16px; }
#menu a { font-weight: normal; text-decoration: none; padding: 3px 10px; }
#menu a:hover { background-color: #3399ff; color: white; }

#header { margin-bottom: 20px; }
#footer { margin-top: 20px; }

#preview-div { float: left; margin-right: 20px; }
#choose-another-pattern { text-decoration: none;}

input, textarea, select { padding: 3px; outline: none!important; border: 1px solid #ddd; margin-bottom: 10px; margin-left: 10px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
input:focus, textarea:focus { border-color: #666; }
input { font-size: 18px; }
textarea { font-size: 14px; }
textarea { height: 72px; }
input[type=submit], input[type=button] { font-size: 16px; padding: 5px; cursor: pointer; color: #000; background: #eee; border: 1px solid #aaa; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
input[type=submit]:hover, input[type=button]:hover { color: #fff; background-color: #3399ff; border-color: #1A8CFF; }
.clearfix { clear: both; }

.social { margin-top: 10px; }
.purchase a { color: #333!important; padding: 5px; }
.purchase a:hover { background-color: #3399FF; color: white!important; text-decoration: none; }

h2 a { text-decoration: none; }
h2 a { color: #333!important; }
h2 a:hover { border-bottom: 1px solid #3399ff; }

ul.transcript { list-style: none; margin: 0px; padding: 0px; color: #aaa;}

#new-design-fields { float: left; width: 500px; }
#new-design-fields label { float: left; text-align: right; width: 140px; }
#new-design-fields .buttons { padding-left: 140px; }
#new-design-fields .formError { margin-left: 150px; margin-top: -10px; margin-bottom: 10px; color: #CC0000;}
#properties { clear: both; }
#new-design-fields input.checkbox { }
#new-design-fields label.checkbox { float:none; }

input.offset { width: 40px; }

.pagination { color: #333!important; }
.pagination span, .pagination em, .pagination a { padding: 3px; }
.pagination a { text-decoration: none; }
.pagination a { color: #333!important; }
.pagination a:hover { background-color: #3399FF; color: white!important; text-decoration: none; }